/* fonts */ 
:root { --sans: 'Roboto', sans-serif; --heading: 'Poppins', sans-serif; --mono: ui-monospace, Consolas, monospace; }

body{
  font-family: "Roboto"
}
#navbar{
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
border: 1px solid black;
}
#logo{
  width: 60px;
}
#sidebar{
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  border: 1px solid black;
  width: fit-content;
  padding: 10px;
}
#app{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#footer{
  padding: 30px;
  border: 1px solid black;
}

/* ------card------ */

#card{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-bottom: 20px;
  background-color: beige;
  padding: 10px;
  width: 300px;
  gap:20px;
  border-radius: 8px;
}

#card-info{
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap:10px;
}

/* #img-wrapper{
  height: 50px;
} */

#img-card{
  height: 50px 
}

h3{
  margin: 0;
}

p{
  margin: 0;
}

/* ------ main view------ */

#main-view{
  display: flex;
  flex-direction: row;
}