/* fonts */ 
:root { --sans: 'Roboto', sans-serif; --heading: 'Poppins', sans-serif; --mono: ui-monospace, Consolas, monospace; }

body{
  font-family: "Roboto";
  margin: 0;
  overflow: hidden;
}



#app{
  display: flex;
  flex-direction: column;
  height: 100vh;
}


/* ------card------ */

#card{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
 
  background-color: white;
  width: 100%;
  
  
  padding: 10px;
  
  gap:20px;
  border-radius: 14px;
  box-shadow: 0px 3.5772px 22.3575px #DFE6F2;
}

.card-grid{
  display: grid;
  /* grid-template-columns: repeat(3, minmax(0, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 60px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 60px 60px 60px;
}

.card-link{
  text-decoration: none; /* Removes text underlines */
  color: inherit;
  display: block;
}

#card-info{
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap:10px;
}



#img-wrapper{
  height: 200px;
  width: 100%;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(239, 246, 250);
}

#card-btn-wrapper{
  display: flex;
  flex-direction: row;
  gap: 8px;
}

#img-card{
  height: 50px 
}

h3{
  margin: 0;
}

p{
  margin: 0;
}

/* ------ main view------ */

#main-view{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100dvh;
}

/* ------ sidebar ------ */

#sidebar{
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100dvh;
  
  width: fit-content;
  padding: 10px;
  width: 280px;
  
}

#menu-sidebar{
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 4px;
  padding-top: 12px;
}


#menu-sidebar a {
  display: block;
  padding: 12px 16px;
  border-radius: 6px;
  text-decoration: none;
  color: #333333;
  
  transition: background-color 0.2s ease;
}

/* Hover state for inactive links */
#menu-sidebar a:hover {
  background-color: #f0f4f8;
}

/* Active page style (The highlighted pill in your screenshot) */
#menu-sidebar a.active {
  background-color: #e2e8f0; /* Light active grey/blue */
  color: #000000;
 
}

#footer{
  padding: 30px;
  border-top: 1px solid #DFE6F2;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

#navbar{
display: flex;
flex-direction: row;
align-items: center;
padding:20px 10px ;
gap: 8px;

}

#navbar h1{
  margin: 0;
  font-size: 18pt;
}

#logo{
  width: 28px;
}


/* ------ Dashboard ------ */

#dashboard{
  flex-grow: 1;/* Automatically expands to fill rest of screen */
  min-height: 0; 
  height: 100%;
  overflow-y: auto; /* Enables independent scrolling for content */
  background-color: #F5F7FB;
  /* padding: 0px 40px 40px 40px; */
  padding: 0;
}

#header-dashboard{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px 20px 60px;
  position: sticky;
  top: 0px;
  background-color: #F5F7FB;
}

.btn-create{
  
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 8px 16px 8px 12px;
  background-color: #3C79F4;
  color: white;
  text-decoration: none; /* Removes the link underline */
  border-radius: 8px;
  
}

.btn-create:hover {
  background-color: #0056b3;
}


